/* Nav menu */
.nav-menu {

}


html, body {
    background-color: #BDCDD6;
    margin: 0px;
    padding: 0px;
    height:100%;
}


.article1 {
    background-color: #BDCDD6;
}


.course1 {
    column-count: 3;
    padding-left: 5%;
    padding-right: 5%;
}

.header_style {
    background-color: #6096B4;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header_style h2:first-letter {
    font-size: xxx-large;
    font-family: "Courier New", Courier, monospace;
}

.img_logo{
    padding-bottom: 30px;
}


.menu-element_header {
    margin: 20px;
    margin-bottom: 30px;
}


.menu-element {
    display: inline-block;
    margin-right: 10%;
    color: white;
}

.sin_puntos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-element > a {
    color: white;
    text-decoration:none;
}

.tarjetero {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    width: 47%;
    margin: 1%;
    border: 2px solid #eee;
    border-radius: 8px;
    overflow: hidden;
}

.foto_animal {
    float:left;
    height: 100%;
    width: 30%;
    display: block;
}

.texto_animal {
    display: flex;
    padding: 1em;
}

@media (max-width: 1300px) {
    .foto_animal {
        float: none;
        width: 100%;
        height: 30%;
    }
}

/* Header */





/* Footer */

footer {
    background-color: #6096B4;
    padding: 1%;
}

address {
    display: flex;
}

address {
    display: flex;
    justify-content:space-between;
}