/* Nav menu */
.nav-menu {
    padding-bottom: 55px;
}


html, body {
    margin: 0px;
    padding: 0px;
    height:100%;
    background-color: #e1f7ff;
}

input, select {
    background-color: #e1f7ff;
}


fieldset {
    background-color: #BDCDD6;
}

.article1 section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.block_fiel img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.block_fiel video {
    object-fit: fill;
    
}

.txt_article1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


.course1 {
    display: flex;
    margin: auto;
    max-width: 1600px;
    border-radius: 8px;
    border: 2px solid #bfe5e3;
    overflow: hidden;
    background-color: #93BFCF;
}

.header_style {
    background-color: #6096B4;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header_style h2:first-letter {
    font-size: xxx-large;
    font-family: "Courier New", Courier, monospace;
}

.img_logo{
    padding-bottom: 30px;
}


.menu-element_header {
    margin: 20px;
    margin-bottom: 30px;
}


.menu-element {
    display: inline-block;
    margin-right: 10%;
    color: white;
}

fieldset {
    max-width: 1600px;
    margin: auto;
    border-radius: 8px;
    border-color: #bfe5e3;
    border-style: outset;
}

legend {
    text-align: center;
    font-size: large;
}

.sin_puntos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-element > a {
    color: white;
    text-decoration:none;
}

.tarjetero {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    color: #222d38;
    width: 47%;
    margin: 1%;
    border: 2px solid #bfe5e3;
    border-radius: 8px;
    overflow: hidden;
    background-color: #93BFCF;
    border-style: outset;
    display: flex;
    flex-direction: row;
}

/* esta regla evita espacios en blanco tras un flex*/
.tarjeta > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto_animal {
    position: relative;
    overflow: hidden;
}

.foto_animal_no_blurr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: contain;
}

.foto_animal_blurr {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    object-fit: fill;
}

.pet_name {
    text-align: center;
}

.texto_animal {
    display: flex;
    justify-content: space-evenly
}

.aboutyou {
    margin-bottom: 10px;
    margin-top: 10px;
}

.centered {
    margin: auto;
    text-align: center;
}

@media (max-width: 1300px) {
    .tarjeta {
        flex-direction: column;
    }
    .foto_animal {
        width: 100%;
        height: 30%;
    }
    .block_fiel {
        display: none;
    }
}

@media (max-width: 800px) {
    .tarjeta {
        width: 100%;
    }
}

/* Header */





/* Footer */

footer {
    background-color: #6096B4;
    padding: 1%;
    margin-top: 15px;
}

address {
    display: flex;
}

address {
    display: flex;
    justify-content:space-between;
}